#!/bin/bash
echo "Content-type: text/html"
echo ""
echo "<html><head><title>Demo</title></head><body>"
echo "Today is $(date) <br>"
echo "The operating system is $(uname -a | awk '{print $1" "$3}') <br>"
echo "This system's IP is $(ip route get 1.1.1.1 | head -1 | cut -d' ' -f8)"
echo "</body></html>"
